<main-controller>
    <div class="columns">
		<div class="column is-one-third">
            <div class="box p-2 m-2">
                <img src="../resources/logo-parcoursup.svg"/>
            </div>
			<search></search>
		</div>

		<div class="column">
			<fili-info></fili-info>
			<school></school>
		</div>
	</div>

	<school-info></school-info>

    <script>
        export default {

        }
    </script>

</main-controller>